/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #F2F2F2;
    --primary-color: #E02C6D;
    --gray: #3A3A3A;
    --light-gray: #787885;
    --rating: #FB8200;
}

body {
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
}

/* main container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* main menu    */
.main-menu {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    padding: 35px 18px;
    align-items: center;
}

.logo h3 {
    font-size: 24px;
    font-weight: 700;
}

.menus ul {
    display: flex;
    gap: 30px;
}

.menus ul li {
    list-style: none;
}

.menus li>a {
    text-decoration: none;
    color: var(--gray);
    font-size: 16px;
    font-weight: 600;
}

/* hero section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 18px;
}

.hero-section-left {
    width: 50%;
    max-width: 582px;
}

.hero-section-left h1 {
    color: var(--gray);
    font-size: 52px;
    font-weight: 700;
}

.hero-section-left p {
    color: var(--light-gray);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 16px;
}

.hero-section-left button {
    background-color: var(--primary-color);
    color: #fff;
    height: 44px;
    font-size: 16px;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
    margin-top: 16px;
    cursor: pointer;
}

.hero-section-right {
    background-image: url(../images/Circle\ design.svg);
    background-position: center;
    background-size: cover;

}

.hero-section-right img {
    position: relative;
}

/* sponsor */
.sponsor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    align-items: center;
    border-top: 1px solid rgb(228, 228, 228);
    border-bottom: 1px solid rgb(228, 228, 228);
    padding: 30px;
    width: 100%;
    max-width: 1110px;
    margin: 80px auto;
}

/* products collection */
.products-collection .title {
    font-size: 28px;
    font-weight: 600;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 100%;
    max-width: 1110px;
    margin: 50px auto;
}

.product {
    background-color: #fff;
    max-width: 329px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.product-title {
    font-size: 28px;
    font-weight: 500;
    color: var(--gray);
}

.price {
    font-size: 24px;
    font-weight: 400;
    color: var(--gray);
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.fa-star.fill {
    font-size: 14px;
    color: var(--rating);
}

.fa-star-half-stroke.empty {
    font-size: 14px;
    color: var(--rating);
}

.rating-number {
    font-size: 14px;
    color: var(--light-gray);
}

.product-description {
    font-size: 14px;
    line-height: 24px;
    color: var(--light-gray);
}

.see-more {
    margin: 0 auto;
    text-align: right;
    margin-right: 73px;
    color: var(--primary-color);
    cursor: pointer;
}

/* featured section */
.featured {
    display: flex;
    gap: 80px;
    margin: 50px auto;
}

.img-info h1 {
    font-size: 38px;
    font-weight: 700;
    color: var(--gray);
    margin-bottom: 16px;
}

.img-info p {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--light-gray);
    margin-bottom: 16px;
}

.img-info button {
    background-color: var(--primary-color);
    color: #fff;
    height: 44px;
    font-size: 16px;
    border: none;
    padding: 10px 24px;
    margin-top: 16px;
    cursor: pointer;
}

/* footer section */
footer {
    background-color: #0A0826;
    max-width: 100%;

}

.footer-info {
    max-width: 380px;
    margin: 0 auto;
    padding: 50px 0px;
}

.footer-info h1 {
    color: #F2F2F2;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.footer-info p {
    color: #F2F2F2;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.contact-icon {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}

.contact-icon i {
    color: #F2F2F2;
    font-size: 32px;
    cursor: pointer;
}
/* --------------
 Make Responsive
----------------- */
@media only screen and (max-width:576px){
    .main-menu, .menus ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
    }
    .logo h3{
        margin-bottom: 20px;
    }
    .hero-section{
        flex-direction: column-reverse;
    }
    .hero-section-left, 
    .hero-section-right,
    .hero-section-right img{
        width: 100%;

    }
    .products{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .see-more{
        text-align: center;
        margin-right: 0;
    }
    .featured{
        padding: 30px;
        flex-direction: column-reverse;
    }
    .image img{
        width: 100%;
        
    }
}

@media only screen and (min-width:577px) and (max-width:768px){
    .main-menu, .menus ul {
        
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        
    }
    .hero-section{
        flex-direction: column-reverse;
    }
    .hero-section-left, 
    .hero-section-right,
    .hero-section-right img{
        width: 100%;

    }
    .products{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    .featured{
        padding: 30px;
        flex-direction: column-reverse;
    }
    .image img{
        width: 100%;
        
    }

}

@media only screen and (min-width:769px) and (max-width:992px){
    .hero-section{
        flex-direction: column-reverse;
    }
    .hero-section-left, 
    .hero-section-right,
    .hero-section-right img{
        width: 100%;

    }
    .products{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }
    .featured{
        padding: 30px;
        flex-direction: column-reverse;
    }
    .image img{
        width: 100%;
        
    }
    
    }

    @media only screen and (min-width:993px) and (max-width:1200px){
        .featured{
            padding: 30px;
        }
        
    }
